* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /* Linear gradient from dark blue → lighter blue → white */
    background: linear-gradient(180deg, #0056b3, #007bff, white);
    color: black;
    min-height: 100vh;
}
#startup-menu{
    padding: 50px;
    height: 100vh;
}
#title-container{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    align-items: center;
}
#company{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    width: 30%;
}

#company-title{
    display: flex;
    align-items: center;
}

#dom-name{
    font-size: 1.5rem;
}

#line{
    font-size: 1.2rem;
    padding-bottom: 10px;
}
#tab-name{
    font-size: 1.4rem;
    padding-bottom: 20px;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fill-up-container{
    display: flex;
    border: 2px solid black;
    height: 450px;
}
#fill-up-container span{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
#fill-up-container p{

    font-weight: bold;
    color: white;
}

#plan-container{
    border: 2px solid;
    width: 50%;
}
#button-container{
    display: flex;
    justify-content: center;
    border: 2px solid;
    width: 100%;
}
