*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-border{
  width: 1920px;
  height: 1080px;
  border-radius: 3px;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  background-color: hsl(225, 100%, 85%);

  
}
.upper-div{
  display:grid;
  grid-template-columns: 370px 970px 500px;
  align-items: center;
  height: 1010px;
  border-bottom-style: solid;
  border-bottom-color:black;
  background-color: white;
  
}
img{
object-fit: contain;
}

.btns-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 45px;
  padding: 5px 9px;
  margin-top: 3px;
}
.history-production-button,.history-downtime-button,.swp-button,.graph-button,.btnngsub{
width: 150px;
height: 60px;
background-color: #3664FF; /* Primary blue color */
border: none;
border-radius: 10px;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    
}
.history-production-button:hover {
background-color: #193db3; /* Darker blue on hover */
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.history-downtime-button:hover {
background-color: #193db3; /* Darker blue on hover */
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.swp-button:hover {
background-color: #193db3; /* Darker blue on hover */
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.graph-button:hover {
background-color: #193db3; /* Darker blue on hover */
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.save-data-btn:hover{
  background-color: #193db3; /* Darker blue on hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.timer-btn>button:hover{
  background-color: #193db3; /* Darker blue on hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.history-production-button:active {
  box-shadow: none;
  background-color: #325ff2; /* Even darker blue when active */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.history-downtime-button:active {
  background-color: #325ff2; /* Even darker blue when active */
transform: translateY(2px);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.swp-button:active {
  background-color: #325ff2; /* Even darker blue when active */
transform: translateY(2px);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.graph-button:active {
  background-color: #325ff2; /* Even darker blue when active */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.save-data-btn:active{
  background-color: #325ff2; /* Even darker blue when active */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.timer-btn>button:active{
  background-color: #325ff2; /* Even darker blue when active */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} 

.main-title{
  margin-top: 4px;
  padding-top: 36px;
  text-align: center;
}
.content-div{
  margin: 15px 20px;
  display: flex;
  flex-direction: row;
  background-color: hsl(225, 100%, 85%);
  
  
}
.production-div{
  background-color:#ffff ;
  width: 1550px;
  height:500px;
  border-radius: 10px;
  border-style: solid;
}
.production-downtime-title{
display: flex;
flex-direction: row;
justify-content: space-around;
border-bottom-style: solid;
background-color: #3664FF;
color: white;

}
/*
.plan-actual-title{
display: flex;
flex-direction: row;
justify-content: space-between;
width: auto;
border-bottom-style: solid;
border-right-style:solid;
}

.con-pl{
width: 555px;
border-right-style: solid;
text-align: center;
}
.con-ac{
width:295px;
margin-left: -492px;
border-right-style: solid;

}
*/
.graph-sum{
display: flex;
flex-direction: row;
}
.graph-content{
display: flex;
flex-direction: column;
border-style: solid;
width: 1240px;
height: 420px;
border-radius: 10px;
margin-top: 10px;
background-color: white;

}

.graph-data{
display: flex;
flex-direction: row;;
}
.graph-title{
text-align: center;
}
.production-graph,.downtime-graph{
width: 590px;
height: 385px;
border-style: solid;
margin-left: 4px;
display: grid;
grid-template-rows: 345px 1fr;

}
.downtime-graph-title,.production-graph-title{
border-top-style: solid;
font-weight: 900;
font-size: 20px;
text-align: center;
background-color: #325ff2;
font-weight: 100;
color: white;
padding: 4px 4px;
letter-spacing: 2px;

}

.summary-content{
width: 320px;
height: 420px;
border-style: solid;
margin-top: 10px;
margin-left: 5px;
border-radius: 10px;
background-color: white;
}
.summ-title{
text-align: center;
}
.right-content{
margin-left: 10px;
display: flex;
flex-direction: column;
}
.details-div{
border-style: solid;
width: 320px;
height: 420px;
margin-top: 8px;
background-color: white;
display: grid;
grid-template-rows: 170px 1fr;
border-radius: 10px;
}

.details{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 3px 4px;
height: 240px;

}
.details>.info-alignment>span{
font-weight: bold;
}
.details>.info-alignment{
border-bottom-style: solid;

}
.picture-product{
border-style: solid;
width: 250px;
margin: 7px 30px;
border-radius: 5px;

}

.timer-title{
text-align: center;

}
table{
width: 100%;
border-radius: 2px;
font-size: 13px;
text-overflow: unset;
font-weight: 500 right-content;

}
.table-data tr th{
  width: 100px;

}
.table-data tr td{
  text-align: center;
  border-bottom: solid;
  border-right: solid;
  background-color: white;
  color: black;
  height: 28px;
  border-bottom-color:white;
  border-right-color:white;
  border-collapse: collapse;
  
  font-weight:bolder;
}

th{
border-right:2px solid black;
border-bottom:2px solid black;
}

#approved,#checked,#prepared{
border-style: solid;
height: 80px;
margin-top: 4px;
padding-top: 50px;

font-weight: 900;
text-align: center;
}
h2{
background-color: #325ff2;
color: white;
}
.sum-data{
display: flex;
flex-direction: column;
justify-content: space-around;
height: 370px;

}
.sum-data>div{
border-bottom-style: solid;
font-weight: 800;
padding-left: 5px;

}

.timer{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 300px;
}
.time-content{
width: 250px;
height: 100px;
border-style: none;
text-align: center;
font-size: 40px;
padding-top: 30px;
background-color: lightgrey;
font-weight: bold;
border-radius: 10px;
}
.timer-btn>button{
width: 90px;
height: 50px;
background-color: #3664FF; /* Primary blue color */
border: none;
border-radius: 10px;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.save-data-btn{
width: 200px;
height: 50px;
background-color: #3664FF; /* Primary blue color */
border: none;
border-radius: 10px;
color: white;
padding: 5px 10px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}

.info-alignment{
  display: grid;
  grid-template-columns: 95px 150px;
  font-size:15px;
  

}
#line #model #date #del_date #balance #ct_as_of #expdate{
  padding: 3px 10px 20px 3px;
  font-family: Arial, Helvetica, sans-serif;
}
select{
  margin-bottom: 3px;
  width: 200px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border:2px solid black;
}

select:hover{
  background-color: #3664FF;
  color: white;
}
option{
  background-color: white;
  color: black;
}
.title-table-plan-actual .plan{
background-color:white;
color: black;

width: 478px;
border-right-style: solid;
border-bottom-style: none;
font-size: larger;

}
.actual{
  border-right-style: solid;
  border-bottom-style: none;
  font-size: larger;
}

.extra{
  width: 743.3px;
  border-bottom-style:none;
  border-right-style: none;
}
.production-class{
  width:478px;
  font-size: 18.3px;
  border-bottom-style:none;
}
.downtime-class{
  font-size:18.3px;
  border-bottom-style:none;
  border-right-style:none
}

.con_timer div{
  display:flex;
  flex-direction: row;
  height: 50px;
  

}
label{
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;

}

.select_drop{
  width: 250px; height: 50px; 
  align-self: center;
  margin-left: 10px;
  font-size: 16px;
  border-color: #333;
  padding-left: 20px;
}
.select_drop option{
  font-size: 16px;
}

.title_form_downtime_timer{
  text-align: center;
  background-color: #3664FF;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;

}

.btn_sub_downtime{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}

.form-top-margin{
  margin-top: 20px;
}

.con_timer{
  position:absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 700px;
  padding: 0;
  display: none;
  margin: 200px 520px 400px;

}
.time_get{
    width: 250px;
    height: 50px;
    border: 2px solid #333;
    margin-left: 10px;
    padding: 15px 95px 4px 95px;
    font-size: 16px;
    font-weight: 400;
}
.timer-div{
border-style: solid;
width: 320px;
height: 300px;
margin-top:10px;
border-radius: 10px;
background-color: white;
}

.sign-content{
height:190px;
width: 320px;
border-style: solid;
background-color: white;
display: flex;
flex-direction: column;


}
.sign-person{
display: grid;grid-template-columns: 100px 100px 100px;
column-gap: 5px;
}
#approved,#checked,#prepared{
    height: 120px;
    padding-top: 2px;
    display: flex;

}
.btn-clear{
    display: grid;
    grid-template-columns:100px 100px 100px ;
    column-gap: 5px;
    align-items: center;
    text-align: center;
    
}
.btn-clear>div>button{
 width: 80px;
  height: 40px;
  margin-left: 5px;
  margin-bottom: 7px;
  background-color: #3664FF; /* Primary blue color */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  font-weight:700;
}
.form-top-margin input{
  height: 50px;
  width: 250px;
  border-style: solid;
  font-size: 16px;
  padding: 15px 60px 6px 90px;
  margin-left: 10px;
}
.signatures{
    width: 315px;
    text-align: center;
    height: 40px;
    align-items: center;
}
.signatures>h2{
    height: 40px;
    font-size: 20px;
    align-content: center;
}
.btn_sub_downtime  button{
  width: 250px;
  height: 60px;
  background-color: #3664FF; /* Primary blue color */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  font-weight:700;
}
.sum_indi{
    font-size: 14px;
}

#signatureCanvas {
    border: 1px solid #000;
    color:#000;

 }
#total_output, #total_NG,#good_qty,#totalProd_hr,#total_downtime_data,#actualProd_hr,#actual_manpower,#AchieveToday,#breaktime{
    font-size: 15px;
}
.selc_sign{
    margin-bottom: 30px;
}
.selc_sign>select{
 width: 90px;
 height: 40px;
 display: flex;
 align-items: center;
 border-right-style:none;
 border-left-style:none;
 border-bottom-style:none;
}
.sign-category{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
    margin-left: 3px;
    height: 40px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.signa_approved{
    width: 100px;
    height: 40px;
}
.history_main_con{
    width: 1920px;
    height: 1080px;
}
.content_data{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.right_his{
    width: 100%;
    border-style: solid;
    margin-left: 3px;   
    height: 1000px;
}
.left_his{
    width: 1000px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;

}

#dataTable{
    text-align: center;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
}
#dataTable tbody td {
    border-bottom-style: solid;
    border-right-style: solid;
    border-color:#3664FF;
    height: 30px;
}
.his-header{
    width: 1920px;
    height: 110px;
}
.his_prod_graph,.his_down_graph{
    border-style: solid;
    height: 500px;

}
.history_con>tr>th{
    border-style: solid;

}
.his_down_graph{
    margin-top: 4px;
}
.his-header{
    display: grid;
    grid-template-columns: 100px 1fr 240px;
    align-items: center;   
    text-align: center;
}
.back_button{
width: 150px;
height: 60px;
background-color: #3664FF; /* Primary blue color */
border: none;
border-radius: 10px;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
margin-left: 10px;
}
.back_button:hover {
background-color: #193db3; /* Darker blue on hover */
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.back_button:active {
  box-shadow: none;
  background-color: #325ff2; /* Even darker blue when active */
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.history_main_con{
    display: none;
}




